<html>
{{ partial "header.html" . }}
    <body class="page services service-page service-detail-page">

    {{ partial "navigation.html" . }}

	<section id="breadcrumb">
		<div class="container">
			<div class="row">
				<div class="column">
					<h1>{{ .Params.service.name }}</h1>
				</div>
				<div class="column middle-md trail">
					Home / Services / {{ .Params.service.name }}
				</div>
			</div>
		</div>
	</section>
    <section id="service-content">
	    <div class="container">
		    <div class="row">
		    <div class="column">
			    <h1>{{ .Params.service.title }}</h1>
		    </div>
	    </div>
	    <div class="row">
		    <div class="column column-25">
			    <img src={{ printf "/images/services/%s.jpg" (lower $.Params.service.name) }}/>
		    </div>
		    <div class="column column-75">
			    {{ .Content }}
		    </div>
	    </div>
	    </div>
    </section>
	{{ $cols := 2 }}
	{{ $len := or (len .Params.service.points) 0 }}
	{{if gt $len 0 }}
    <section id="service-details" class="bg-secondary">
	    <div class="container">
		    <div class="row section-title row">
			    <div class="column">
				    <h2>{{ .Params.service.benefits_title }}</h2>
			    </div>
		    </div>


			    {{ range $key,$value := .Params.service.points }}
				{{ $isLastElem := not (sub (sub $len 1) $key) }}

				{{ if modBool $key $cols }}
				<div class="row">
					{{ end }}
					<div class="column">
						<h3>{{ $value.title }}</h3>
						<p>{{ $value.snippet }}</p>
					</div>
				{{ if or (modBool (add $key 1) $cols) $isLastElem }}
					</div>
				{{end}}
		    {{ end }}
	    </div>
    </section>
	{{ end }}
	{{ $services := printf "services/pricing/%s.html" (lower $.Params.service.name) }}
	{{ partial $services . }}
    {{ partial "ctas/start-a-project.html" . }}
    {{ partial "footer.html" . }}
    </body>
</html>
