#breadcrumb {

	background-color: #e7e7e7;
	div.container,div.container-fluid {
		padding-top:2em;
		padding-bottom: 2em;
		}
	h1 {
		font-size:2em;
		margin-bottom: 0;
		}

	.trail {
		text-align: right;
		}
	}
