.circle-icon {
	background: $brand-secondary;
	display: inline-block;
	border-radius: 500px;
	line-height: 10em;
	font-size: 5em;
	height: 1.5em;
	width: 1.5em;
	text-align: center;
	padding-top: .25em;
	color: #fff;
	}
