section.bg-offwhite {
	background-color:$color-offwhite;
	}

section.bg-secondary {
	background-color: $brand-primary;
	color: #fff;
	}

section.bg-black {
	background-color:#000;
	color:#fff;
	}

#benefits img {
	display:block;
	margin-left: auto;
	margin-right:auto;
	}

.process h2 {
	text-align: center;
	}
