<section id="footer" class="bg-black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <h2>Recent Articles</h2>
                    <div class="recent-post clearfix">
                        <div class="image">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=80%C3%9760&w=80&h=60" />
                        </div>
                        <div class="body">
                            <div class="title">A recent article about SEO</div>
                            <div class="date">21st April 2017</div>
                        </div>
                    </div>
                    <div class="recent-post clearfix">
                        <div class="image">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=80%C3%9760&w=80&h=60" />
                        </div>
                        <div class="body">
                            <div class="title">A recent article about SEO</div>
                            <div class="date">21st April 2017</div>
                        </div>
                    </div>
                    <div class="recent-post clearfix">
                        <div class="image">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=20&txt=80%C3%9760&w=80&h=60" />
                        </div>
                        <div class="body">
                            <div class="title">A recent article about SEO</div>
                            <div class="date">21st April 2017</div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <h2>Recent Sites</h2>
                </div>
                <div class="col-md">
                    <h2>Get in touch!</h2>
                    <form>
                        <fieldset>
                            <input type="text" name="name" placeholder="Name*" />
                            <input type="email" name="email" placeholder="Email*" />
                            <textarea name="message" placeholder="Message"></textarea>
                            <input type="submit" class="button button-primary" value="Submit" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
