<html>
    {{ partial "header.html" . }}
    <body>
        {{ partial "navigation.html" . }}
        <div class="hero-banner">
            <h1>Are Empty Bays Costing Your Shop Money?</h1>
            <h2>ShopPulse increases the car count for auto repair shops<br />with modern, high quality online marketing</h2>
        </div>
        <section class="services-row">
            <div class="container">
                <div class="row around-md">
                    <div class="column">
                        <h2>Websites</h2>
                        <p>80% of consumers start shopping for their next purchase with a search online.  Without a web site, you have lost that customer before you ever had a chance to win them.</p>
                        <a href="/services/websites" class="center button button-outline">Learn More</a>
                    </div>
                    <div class="column">
                        <h2>Online Marketing</h2>
                        <p>Turn your web site into a car-count increasing machine!  Increase the number of potential customers you can reach, and stand a step above your competition.</p>
                        <a href="/services/marketing" class="center button button-outline">Learn More</a>
                    </div>
                    <div class="column">
                        <h2>Online Advertising</h2>
                        <p>Boost your car count with online advertising calling out your most popular services or your best offers!  Drive new leads to your website, and convert them to customers.</p>
                        <a href="/services/advertising" class="center button button-outline">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
    <div class="container">
        <div class="row">
            <div class="column">
                <h2>Welcome to ShopPulse!</h2>
                <p>ShopPulse specializes in providing digital marketing services that make a difference in your shop - by increasing your car count, helping keep customers engaged, and ensuring that your prospective customers can find you, day and night.</p>
            </div>
            <div class="column">
                <img src="/images/portfolio/responsive_luxuryone.png" align="center"/>
            </div>
        </div>
    </div>
    <div class="featured-projects">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h2>Featured Sites</h2>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <img src="/images/portfolio/responsive_bisma.png"/>
                    <h2>Bisma Mobile Service Station</h2>
                    <p>
                        Bisma helps their customers keep their cars safely on the road.  Checkout how we helped them
                        increase their car count, reach more customers, and grow their business.
                    </p>
                    <center><a href="#" class="button">Read the Case Study</a></center>
                </div>
                <div class="column">
                    <img src="/images/portfolio/responsive_classic.png"/>
                    <h2>Classic Car Restoration</h2>
                    <p>
                        Classic Car Restoration likes giving your beloved ride new life.  Check out how we helped them
                        help more classic car owners get their baby back on the road.
                    </p>
                    <center><a href="#" class="button">Read the Case Study</a></center>
                </div>
            </div>
        </div>
    </div>

    <section id="benefits" class="bg-offwhite">
            <div class="container">
                <div class="row">
                    <div class="column">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=555%C3%97506&w=555&h=506" />
                    </div>
                    <div class="column">
                        <h2>Why we kick ass</h2>
                        <p>
                            Our model is different.  While many business site platforms peddle the same dated
                            technologies and gimmicky tools that do little to improve your business, we focus on
                            providing value with a simple foundation:  optimized, customized, and tailored web sites
                            designed to increase the number of leads generated for your business.
                        </p>
                        <p>
                            We focus on high quality content that educates, converts, and delights your prospective
                            customers.  Your website becomes a highly focused and effective funnel that demonstrates
                            your expertise and how you are different.  This establishes trust, and begins a relationship
                            that lasts well beyond today's car issue and can grow into a life-long customer relationship.
                        </p>
                    </div>
                </div>
                <div id="brands-carousel">
                    <div class="row">
                        <div class="column">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                        <div class="column">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                        <div class="column">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                        <div class="column">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                        <div class="column">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="process">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h2>Our Process</h2>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <h3>1. Getting to know your shop</h3>
                        <p>Unlike many web site solutions for Auto Repair shops, our sites are focused on your business,
                            and tailored to match the unique aspects of your shop.  That means the first step in our
                            process toward increasing your car count is getting you know you,your shop, and your
                            customers so that we can provide an incredibly tailored site that will fit your business
                            like a finely tailored suit, and look just as good.</p>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <h3>2. Writing Your Content</h3>
                        <p>
                            Once we get enough information about you and your business, our copy writers get to work
                            by creating new content that best represents you, and helps you to stand out from your
                            competition.  Since this content is written to best represent you, and to speak directly to
                            your customers, this produces high quality content that search engines will love just as
                            as your customers do.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <h3>3. Picking Your Images</h3>
                        <p>
                            With content written, our design experts look through our library of high-resolution/
                            high quality images, and select the perfect images to match your color scheme, your business
                            identity, and the content that we have crafted for you to bring content, design, and imagery
                            together for a powerful online presence that represents your business at its best.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <h3>4. Building Your Site</h3>
                        <p>
                            Now that we have all the parts, and know precisely where we are going, our site builders
                            jump right in, weaving the content, images, and your branding together to produce a website
                            that is fast for your users, represents your unique business, and makes sure the search
                            engines know who you are.  We use the latest web technologies, and pick a stack and
                            underlying technologies that best match your needs and budget.  Whether we build your site
                            ShopPro, ShopPro Plus, or a completely custom platform, you get a fast and secure site
                            that will win.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div>
                        <h3>5. Launching It!</h3>
                        <p>
                            Once we have your site just right, and you have given us the go ahead, we move into
                            launching your site.  We partner with some of the strongest web hosting companies out there,
                            regardless of the technology used to build your site, in order to ensure that we are able to
                            provide you with top-quality web hosting.  Our chosen partners ensure that we are able to
                            deliver a site that will always be up, and always be performant.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div>
                        <h3>6. Continuous Improvement</h3>
                        <p>
                            Unlike many specialized web hosting platforms, launching your site is not the end of the
                            journey.  We will keep an eye on current technologies and best practices on the web, and
                            we will continue optimizing your site, improving the design and usability while improving
                            and optimizing the copy for your prospective customers and search engines alike.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial "ctas/start-a-project.html" . }}

    {{ partial "footer.html" . }}
    </body>
</html>
