<html>
    {{ partial "header.html" . }}
    <body>
        {{ partial "navigation.html" . }}
        <div class="hero-banner">
            <h1>Are Empty Bays Costing Your Shop Money?</h1>
            <h2>ShopPulse increases the car count for auto repair shops<br />with modern, high quality online marketing</h2>
        </div>
        <section class="services-row">
            <div class="container">
                <div class="row around-md">
                    <div class="col-md">
                        <h2>Websites</h2>
                        <p>80% of consumers start shopping for their next purchase with a search online.  Without a web site, you have lost that customer before you ever had a chance to win them.</p>
                        <a href="/services/websites" class="center button button-outline">Learn More</a>
                    </div>
                    <div class="col-md">
                        <h2>Online Marketing</h2>
                        <p>Turn your web site into a car-count increasing machine!  Increase the number of potential customers you can reach, and stand a step above your competition.</p>
                        <a href="/services/marketing" class="center button button-outline">Learn More</a>
                    </div>
                    <div class="col-md">
                        <h2>Online Advertising</h2>
                        <p>Boost your car count with online advertising calling out your most popular services or your best offers!  Drive new leads to your website, and convert them to customers.</p>
                        <a href="/services/advertising" class="center button button-outline">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>Welcome to ShopPulse!</h2>
                <p>ShopPulse specializesn providing digital marketing services that make a diffrence in your shop - cy increasing your car count, helping keep customers engaged, and ensuring that your prospective customers can find you, day and night.</p>
            </div>
            <div class="col-md">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=555%C3%97388&w=555&h=388" align="center"/>
            </div>
        </div>
    </div>
    <div class="featured-projects">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h2>Featured Sites</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=353%C3%97236&w=353&h=236"/>
                    <h2>Some cool project</h2>
                    <p>Some text about how cool this build was, for this garage, or the great results we nailed.</p>
                    <center><a href="#" class="button">View site</a></center>
                </div>
                <div class="col-md">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=353%C3%97236&w=353&h=236"/>
                    <h2>Some cool project</h2>
                    <p>Some text about how cool this build was, for this garage, or the great results we nailed.</p>
                    <center><a href="#" class="button">View site</a></center>
                </div>
                <div class="col-md">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=353%C3%97236&w=353&h=236"/>
                    <h2>Some cool project</h2>
                    <p>Some text about how cool this build was, for this garage, or the great results we nailed.</p>
                    <center><a href="#" class="button">View site</a></center>
                </div>
            </div>
        </div>
    </div>

    <section id="benefits" class="bg-offwhite">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=555%C3%97506&w=555&h=506" />
                    </div>
                    <div class="col-md">
                        <h2>Why we kick ass</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque odio, pretium a leo id, eleifend dapibus dui. Aenean sed fringilla nisi. Nullam vel leo nec libero lobortis sodales eget ac tellus. Aliquam sed sem sed eros iaculis finibus. Donec ac erat egestas, fermentum arcu eu, varius dui. Nunc eget gravida nunc, vel ultricies tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet lacinia tortor, nec dictum felis. Proin lorem ex, rutrum eu semper eget, vestibulum id arcu. Ut maximus turpis leo, in consequat leo tempor in. Mauris interdum risus eu ultricies sollicitudin. Vestibulum eu felis et justo imperdiet vulputate nec sed massa. Donec posuere justo nec maximus venenatis. Phasellus mi ligula, feugiat scelerisque efficitur scelerisque, convallis et nunc. Vestibulum ac velit nisl. Proin lobortis elementum nisi eget interdum.</p>
                        <p>Fusce et tellus congue, pharetra mauris a, mollis urna. Cras nec ex mauris. Suspendisse eu turpis in metus dignissim auctor. Curabitur maximus metus at auctor consequat. Vivamus nec libero elementum, consectetur tellus quis, consequat eros. Nam commodo, lorem vitae lobortis tempus, quam erat porta nulla, sed gravida orci risus at dui. Aliquam quam ligula, hendrerit eget ex tempus, porta ultrices enim. Sed sit amet hendrerit felis, non blandit lorem. Duis eu ullamcorper augue. Nullam ultrices diam eget est vestibulum, eu finibus ligula efficitur. Sed nunc ipsum, semper sit amet ante ac, sodales hendrerit dui. Aliquam felis felis, dapibus vel convallis at, faucibus vel tellus. Sed hendrerit ut diam nec pharetra. Aliquam sed leo aliquam, iaculis nisl a, posuere libero.</p>
                    </div>
                </div>
                <div id="brands-carousel">
                    <div class="row">
                        <div class="col-md">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                        <div class="col-md">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                        <div class="col-md">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                        <div class="col-md">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                        <div class="col-md">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=152%C3%97114&w=152&h=114" />
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="process">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h2>Our Process</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div>
                        <h3>1. Getting to know your shop</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque odio, pretium a leo id, eleifend dapibus dui. Aenean sed fringilla nisi. Nullam vel leo nec libero lobortis sodales eget ac tellus. Aliquam sed sem sed eros iaculis finibus. Donec ac erat egestas, fermentum arcu eu, varius dui. Nunc eget gravida nunc, vel ultricies tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div>
                        <h3>2. Writing Your Content</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque odio, pretium a leo id, eleifend dapibus dui. Aenean sed fringilla nisi. Nullam vel leo nec libero lobortis sodales eget ac tellus. Aliquam sed sem sed eros iaculis finibus. Donec ac erat egestas, fermentum arcu eu, varius dui. Nunc eget gravida nunc, vel ultricies tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div>
                        <h3>3. Picking Your Images</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque odio, pretium a leo id, eleifend dapibus dui. Aenean sed fringilla nisi. Nullam vel leo nec libero lobortis sodales eget ac tellus. Aliquam sed sem sed eros iaculis finibus. Donec ac erat egestas, fermentum arcu eu, varius dui. Nunc eget gravida nunc, vel ultricies tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="col-md">
                    <div>
                        <h3>4. Building Your Site</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque odio, pretium a leo id, eleifend dapibus dui. Aenean sed fringilla nisi. Nullam vel leo nec libero lobortis sodales eget ac tellus. Aliquam sed sem sed eros iaculis finibus. Donec ac erat egestas, fermentum arcu eu, varius dui. Nunc eget gravida nunc, vel ultricies tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div>
                        <h3>5. Launching It!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque odio, pretium a leo id, eleifend dapibus dui. Aenean sed fringilla nisi. Nullam vel leo nec libero lobortis sodales eget ac tellus. Aliquam sed sem sed eros iaculis finibus. Donec ac erat egestas, fermentum arcu eu, varius dui. Nunc eget gravida nunc, vel ultricies tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div>
                        <h3>6. Continuous Improvement</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque odio, pretium a leo id, eleifend dapibus dui. Aenean sed fringilla nisi. Nullam vel leo nec libero lobortis sodales eget ac tellus. Aliquam sed sem sed eros iaculis finibus. Donec ac erat egestas, fermentum arcu eu, varius dui. Nunc eget gravida nunc, vel ultricies tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ partial "ctas/start-a-project.html" . }}

    {{ partial "footer.html" . }}
    </body>
</html>
