<section id="packages">
    <div class="container">
        <div class="row">
            <div class="column section-title">
                <h2>Our Marketing Packages</h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="package">
                    <h3>Xpress</h3>
                    <ul>
                        <li>ShopPro Website</li>
                        <li>Choice of one of three themes</li>
                        <li>Customized to match your shop</li>
                        <li>Local SEO optimized</li>
                    </ul>
                    <a href="#" class="button">Select</a>
                </div>
            </div>
            <div class="column">
                <div class="package">
                    <h3>The Works</h3>
                    <ul>
                        <li>ShopPro Website</li>
                        <li>Choice of one of three themes</li>
                        <li>Customized to match your shop</li>
                        <li>Local SEO optimized</li>
                    </ul>
                    <a href="#" class="button">Select</a>
                </div>
            </div>
            <div class="column">
                <div class="package">
                    <h3>Custom</h3>
                    <ul>
                        <li>ShopPro Website</li>
                        <li>Choice of one of three themes</li>
                        <li>Customized to match your shop</li>
                        <li>Local SEO optimized</li>
                    </ul>
                    <a href="#" class="button">Select</a>
                </div>
            </div>
        </div>
    </div>
</section>